@using Biblioteca.Models
@model Book

<h1>
    Edit Book
</h1>
@*asp-action indica el nombre de la accion del controlador a ejecutar..}
    Controlador: Books, Action: Edit tio Post
*@
<form>
    <div class="form-group">
        <label asp-for="Title"></label>
    </div>
</form>